<h2>Ver Pais</h2>
<hr />

@if (respuesta ) {

<div class="flex min-h-screen items-center justify-center">
  <div
    class="relative flex w-full flex-row rounded-xl bg-clip-border text-gray-700 shadow-md"
  >
    <div
      class="relative w-2/5 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-clip-border text-gray-700 flex justify-center items-center"
    >
      <div class="w-full h-full flex justify-center items-center">
        <img
          src="{{ respuesta.flags.png }}"
          alt="image"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
    <div class="p-6 bg-white">
      <h1
        class="mb-4 block font-sans text-4xl font-bold leading-relaxed tracking-normal text-gray-900 antialiased"
      >
        Pais: {{ respuesta.name.common }}
      </h1>
      <h1
        class="mb-4 block font-sans text-2xl font-bold leading-relaxed tracking-normal text-gray-900 antialiased"
      >
        Capital: {{ respuesta.capital }}
      </h1>
      <h4
        class="mb-2 block font-sans text-2xl font-semibold leading-snug tracking-normal text-gray-900 antialiased"
      >
        Poblacion: {{ respuesta.population }}
      </h4>

      <h4
        class="mb-2 block font-sans text-2xl font-semibold leading-snug tracking-normal text-gray-900 antialiased"
      >
        Codigo: {{ respuesta.cca2 }}
      </h4>

      <p
        class="mb-8 block font-sans text-base font-normal leading-relaxed text-gray-700 antialiased"
      >
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, ipsa.
        Nam similique dolor alias laudantium ipsa ipsam laborum, blanditiis
        beatae doloribus nobis molestiae quae, eligendi hic aliquam. Soluta,
        officiis magnam?
      </p>
    </div>
  </div>
</div>

} @else { @if (error == false) {
<div>espere porfavor ...</div>
} @else if (error == true) {

<div>error al cargar datos</div>
} }
