@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

h1 {
  font: normal normal 600 1.5em/1.6em "Outfit", sans-serif;
  color: hsl(215, 51%, 70%);
  padding: 1.2em 0;
}

span {
  font: normal normal 600 1em/1.2em "Outfit", sans-serif;
}
