<h2>Por Region</h2>
<hr />

<div class="flex justify-center m-3">
  @for (region of regiones; track $index) {
  <button
    class="middle none center mr-4 rounded-lg bg-gray-700 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
    [ngClass]="
      region === regionActual ? 'bg-slate-500' : ' btn-outline-primary'
    "
    (click)="buscarRegion(region)"
  >
    {{ region }}
  </button>
  }
</div>
<hr />
<app-tabla [pais]="region" [termino]="termino" [error]="error"></app-tabla>
